/* Generic styles */
b, strong { font-weight: bold; }

/* Layout */
html,body {
    background: #9d9fa1;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 100%;
    height: 100%;
    width: 100%;
}

header {
    background: #333;
    height: 4em;
    line-height: 4em;
}

h1,h2 {
    color: #0190bc;
    padding: 0 13px;    
    font-weight: bold;
}

h1 { font-size: 1.6em; }
h2 {
     font-size: 1.3em;
     margin-bottom: 0.4em;
}

article {
    position: absolute;
    top: 4em;
    left: 0;
    bottom: 0;
    right: 0;
}

#map {
    height: 100%;
    width: 100%;
}

aside label {
    background: #0190bc;
    color: #fff;
    cursor: pointer;
    display: block;
    margin-bottom: 2px;
    padding: 0.5em 13px;
}

    aside form {
        margin-bottom: 1em;
    }

    aside .routeinfo {
        background: #fff;
        display: none;
        padding: 1em 0;
    }

    aside label:hover {
        background: #f2952f;
    }

.contextmenu {
}

    .contextmenu h1 {
        margin: 0;
        padding: 0;
    }

    .contextmenu a {
        color: #aaa;
        display: block;
        font-size: 0.9em;
        font-weight: bold;
        padding: 0.5em 0;
        text-decoration: none;
    }

        .contextmenu a:hover {
            background: #222;
            color: #f2952f;
        }

#routedetails li {
    line-height: 1.2;
    margin-bottom: 2px;
}

    #routedetails li a {
        background: #eee;
        color: #666;
        display: block;
        padding: 0.5em 13px;
        text-decoration: none;
    }

    #routedetails li a:hover {
        color: #333;
    }

    #routedetails li.selected a {
        background: #f2952f;
        color: #fff;
    }
        
.leaflet-popup-content h1 {
    margin: 0;
    padding: 0;
}

.leaflet-popup-content table {
    width: 100%;
}

.leaflet-popup-content table th {
    font-weight: bold;
}

.leaflet-popup-content td,th {
    padding: 0.4em;
    padding-left: 0;
    text-align: left;
}

@media only screen and (min-width:720px){

    aside {
        width: 18em;
    }

        aside ul {
            list-style-type: none;
        }

    article {
        left: 18em;
    }
}