@{
    ViewBag.Title = "Mapchester";
}

@section css {
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
     <!--[if lte IE 8]>
         <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
     <![endif]-->
}

@section scripts {
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=&sensor=false"></script>
    <script src="~/Scripts/jquery.signalR-1.0.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/app")
    <script>

        $(function() {

            var getTransportMode = function() {
                var form = $("#transportModes");
                var selectedMode = $("input[name=mode]:checked", form).val();
                return selectedMode;
            };

            var newRouteHandler = function(start, end, path, mode) {
                routeManager.add({
                    start: start,
                    end: end,
                    path: path,
                    mode: mode
                });
            };

            var routeErrorHandler = function() {
                alert("Sorry, routing isn't available between these points at present.");
            };

            var mapOptions = {
                container: "map",
                latitude: 53.4791,
                longitude: -2.2457,
                zoom: 15,
                getTransportMode: getTransportMode,
                newRouteListener: newRouteHandler,
                routeErrorHandler: routeErrorHandler
            };

            var getRouteId = function(start, end) {
                var key = start.replace(/[^\w\s]/gi, '') + end.replace(/[^\w\s]/gi, '');
                return key.replace(/ /g, '');
            };
            
            function highlightRoute(route) {
                mapping.highlightRoute(route.start.marker, route.end.marker, route.path);
            }
            
            function dehighlightRoute(route) {
                mapping.dehighlightRoute(route.start.marker, route.end.marker, route.path);
            }

            var routeChangeHandler = function(routes) {
                var routeCount = routes.length;
                var container = $(".routeinfo");
                
                if (routeCount > 0) {
                    $("p", container).hide();
                } else {
                    $("p", container).show();
                }
                 
                for (var i = routeCount - 1; i >= 0; i--) {
                    var route = routes[i];
                    var id = getRouteId(route.start.name, route.end.name);

                    container.show();

                    var list = $("#routedetails");
                    if ($("#" + id, list).length == 0) {
                        var newItem = $("<li id='" + id + "'><a class='" + route.mode + "' href='#'><b>" + route.start.name + "</b> to <b>" + route.end.name + "</b></a></li>").hide();
                        list.prepend(newItem);
                        newItem.slideDown();

                        (function (thisItem, thisRoute) {
                            
                            var selectedClass = "selected";
                            newItem.click(function(e) {
                                e.preventDefault();
                                newItem.toggleClass(selectedClass);
                                
                                if (newItem.hasClass(selectedClass)) {
                                    highlightRoute(thisRoute);
                                } else {
                                    dehighlightRoute(thisRoute);
                                }
                            });
                            
                        })(newItem, route);
                    }
                }
            };

            mapping.init(mapOptions, function() {
                // Load transport modes
                mapping.getTransportModes(function(modes) {
                    if (modes) {

                        var form = $("#transportModes");
                        var list = $("<ul />");
                        form.append(list);

                        for (var mode in modes) {
                            var displayText = mode;
                            var value = modes[mode];

                            list.append("<li><label><input type='radio' name='mode' value='" + value + "' name='transportmode' />" + displayText + "</label></li>");
                            $("input:first", list).attr('checked', 'checked');
                        }
                    }
                });

                // Set up route handler
                routeManager.init({
                    onRoutesChanged: routeChangeHandler
                });

                $(".findlocation").click(function() {
                    geolocation.getUserLocation(function(location) {
                        var point = {
                            lat: location.coords.latitude,
                            lng: location.coords.longitude
                        };
                        mapping.centreOnMyLocation(point);
                        mapping.addUserLocation(point, "Your Location", {
                            color: "orange",
                            icon: "icon-user"
                        });
                    });
                });
            });
            
            // Proxy created on the fly          
            var tfgm = $.connection.tfgm;

            // Declare a function on the chat hub so the server can invoke it          
            tfgm.client.addMessage = function (message) {
                $('#messages ul').append('<li>' + message + '</li>');
            };

            // Start the connection
            $.connection.hub.start().done(function () {
                tfgm.server.heartbeat();
            });
        });

    </script>
}


    <div class="geolocation-panel">
        <button class="findlocation"><i class="icon-user"></i> Find Me</button>
    </div>
<aside>
    <form action="#" id="transportModes">
    </form>
    
    <div id="messages">
        <ul></ul>
    </div>
    
    <div class="routeinfo">
        <h2>Route Info</h2>
        <p>No routes added at the moment. Right click on a couple of points on the map or an item to start routing.</p>
        <ul id="routedetails">
        </ul>
    </div>
</aside>
    
<article>
    <div id="map"></div>
    @*<div class="contextmenu">
        <h1>Some Info</h1>
        <ul>
            <li><a href="#">Start Here</a></li>
        </ul>
    </div>*@
</article>
