@{
    ViewBag.Title = "Mapchester";
}

@section css {
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
     <!--[if lte IE 8]>
         <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
     <![endif]-->
}

@section scripts {
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=&sensor=false"></script>
    @Scripts.Render("~/bundles/app")
    <script>

        $(function () {

            var getTransportMode = function () {
                var form = $("#transportModes");
                var selectedMode = $("input[name=mode]:checked", form).val();
                return selectedMode;
            };

            var mapOptions = {
                container: "map",
                latitude: 53.4791,
                longitude: -2.2457,
                zoom: 15,
                getTransportMode: getTransportMode
            };

            mapping.init(mapOptions, function() {
                // Load transport modes
                mapping.getTransportModes(function(modes) {
                    if (modes) {

                        var form = $("#transportModes");                        
                        var list = $("<ul />");
                        form.append(list);

                        for (var mode in modes) {
                            var displayText = mode;
                            var value = modes[mode];

                            list.append("<li><label><input type='radio' name='mode' value='" + value + "' name='transportmode' />" + displayText + "</label></li>");
                        }
                    }
                });

                $(".findlocation").click(function () {
                    geolocation.getUserLocation(function (location) {
                        var point = {
                            lat: location.coords.latitude,
                            lng: location.coords.longitude
                        };

                        mapping.addPoint(point, "Your Are Here", {
                            color: "orange",
                            icon: "icon-user"
                        });
                    });
                });
            });
        });        
                

    </script>
}

<aside>
    <form action="#" id="transportModes">
    </form>
    
    <div class="routeinfo">
        <h2>Route Info</h2>
        <ul id="routedetails"></ul>
    </div>
    <div class="geolocation">
        <input type="button" value="Find my location" class="findlocation"/>
    </div>
</aside>
    
<article>
    <div id="map"></div>
    @*<div class="contextmenu">
        <h1>Some Info</h1>
        <ul>
            <li><a href="#">Start Here</a></li>
        </ul>
    </div>*@
</article>
