@{
    ViewBag.Title = "Index";
}

@section css {
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
     <!--[if lte IE 8]>
         <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
     <![endif]-->
    
    <style>
        #map {
            height: 560px;
        }
    </style>
}

@section scripts {
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
    @Scripts.Render("~/bundles/app")
    <script>

        $(function () {            
            mapping.init({
                container: "map",
                latitude: 53.4791,
                longitude: -2.2457,
                zoom: 13
            });            
        });        
                
    </script>
}

    <h1>API Tests</h1>

    <div id="map"></div>